<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta property='og:image' content='http://travisdoesmath.github.io/preview.png'>
    <meta property='og:image:width' content='1200'>
    <meta property='og:image:height' content='630'>
    <meta property='og:type' content='website'>
    <meta property='og:url' content='http://travisdoesmath.github.io/'>
    <meta property='og:title' content='Travis R. Taylor'>
    <meta property='og:description' content='The official vanity page of Travis R. Taylor'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Travis R. Taylor</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.2/d3.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script src="js/exhibits.js"></script>
    </head>
    <body>
        <div class='column'>
            <div class="container">
                <h1>Travis<span class='red'>R</span>Taylor</h1>
                <p>Hi, I'm Travis. I like doing a lot of things. This is where I keep the ones I like best.</p>
                <p>Email me at <a href="mailto:travis@travisrtaylor.com">travis@travisrtaylor.com</a></p>

                <div id="app">
                    <exhibit-grid></exhibit-grid>
                </div>            
            </div>
        </div>

        <!-- Templates -->
        <script type="text/x-template" id="exhibit-grid-template">
            <div>
                <exhibit v-for="exhibit in exhibits" :id="exhibit.id" :link="exhibit.link" :type="exhibit.type" :src="exhibit.src" :title="exhibit.title" :description="exhibit.description">
            </div>
        </script>
        <script type="text/x-template" id="exhibit-template">
            <article class="exhibit" :id="id">
                <h2>{{ title }}</h2>
                <img-exhibit v-if="type === 'img'" :src="src" :link="link"></img-exhibit>
                <video-exhibit v-else-if="type === 'video/webm'" :src="src" :link="link"></video-exhibit>
                <d3-exhibit v-else-if="type === 'd3'" :link="link"></d3-exhibit>
                <section class='exhibit-description'>
                    <p v-html='description'></p>
                </section>
            <article>
        </script>

        <script type="text/x-template" id="img-exhibit-template">
            <a class="exhibit-link" :href="link" target="_blank" @mouseenter="start" @mouseout="stop"  @scrollenter="start" @scrollout="stop">
                <div class="exhibit-media-container">
                    <img :src="src" class="exhibit-media">
                </div>
            </a>
        </script>

        <script type="text/x-template" id="video-exhibit-template">
            <a class="exhibit-link" :href="link" target="_blank" @mouseenter="start" @mouseout="stop" @scrollenter="start" @scrollout="stop">
                <div class="exhibit-media-container">
                    <video :src="src" class="hover-play exhibit-media" muted preload height=100% loop playsinline type="video/webm"></video>
                </div>
            </a>
        </script>

        <script type="text/x-template" id="d3-exhibit-template">
            <a class="exhibit-link" :href="link" target="_blank" @scrollenter="start" @scrollout="stop">
                <div class="exhibit-media-container">
                    <div class="d3-target exhibit-media"></div>
                </div>
            </a>
        </script>

        <!-- Vue components and app -->
        <script>
            var scrollenter = new Event('scrollenter');
            var scrollout = new Event('scrollout');

            Vue.component('exhibit-grid', {
                template: '#exhibit-grid-template',
                data() {
                    return {
                        exhibits: exhibits
                    }
                }
            })

            Vue.component('img-exhibit', {
                template: "#img-exhibit-template",
                props: ['link', 'src'],
                methods: {
                    start: function(e) {
                        d3.select(e.target).select('.exhibit-media').transition().ease(d3.easeCubic).style('transform','scale(1.2)')
                    },
                    stop: function(e) {
                        d3.select(e.target).select('.exhibit-media').transition().ease(d3.easeCubic).style('transform','scale(1)')
                    },                    
                }
            })

            Vue.component('video-exhibit', {
                template: "#video-exhibit-template",
                props: ['link', 'src'],
                methods: {
                    start: function(e) {
                        d3.select(e.target).select('.exhibit-media').node().play();
                    },
                    stop: function(e) {
                        d3.select(e.target).select('.exhibit-media').node().pause();
                    }                    
                }
            })

            Vue.component('d3-exhibit', {
                template: "#d3-exhibit-template",
                props: ['link'],
                methods: {
                    start: function(e) {
                        console.log('d3 scrollenter')
                    },
                    stop: function(e) {
                        console.log('d3 scrollout')
                    }
                }
            })

            Vue.component('exhibit', {
                template: '#exhibit-template',
                props: ['id','link','src','alt','type','title','description'],
            })

            var app = new Vue({
                el: '#app'
            })

        </script>
        <script type="module">
            import { SnakeGame } from './modules/snake.js';
            import { LifeGame } from './modules/life.js';
            import { PendulumPlayer } from './modules/pendulum.js';
            import { GoldenCurl } from './modules/golden.js';
            let snakeGame = new SnakeGame(document.getElementById('snake'));
            let lifeGame = new LifeGame(document.getElementById('life'));
            let pendulumPlayer = new PendulumPlayer(document.getElementById('pendulum'));
            let goldenPlayer = new GoldenCurl(document.getElementById('golden'));

            let touched = false;

            d3.select(".column")
                .on('touchstart', () => touched = true)
                .on('touchmove', () => touched = true)
                .on('touchend', () => touched = true)

            let last_known_scroll_position = 0;
            let ticking = false;

            function doSomething(scroll_pos) {
                console.log("scrollY", scroll_pos);
                [...document.getElementsByClassName('exhibit-link')].map(a => {
                    let top = a.getBoundingClientRect().top;
                    let bottom = a.getBoundingClientRect().bottom;
                    if (top < 100 | bottom > window.visualViewport.height - 100) {
                        a.dispatchEvent(scrollout);
                    } else {
                        a.dispatchEvent(scrollenter);
                    }                    
                })

            // Do something with the scroll position
            }

            window.addEventListener('scroll', function(e) {
            last_known_scroll_position = window.scrollY;

            if (!ticking & touched) {
                window.requestAnimationFrame(function() {
                doSomething(last_known_scroll_position);
                ticking = false;
                });

                ticking = true;
            }
            });
        </script>
        <script>

        </script>
    </body>
</html>
