body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  /* margin: 0 auto 4em auto; */
  tab-size: 2;
  -webkit-text-size-adjust: none;
  background-color: #333;
  color: white;
}

a {
    color: #D00;
}

.column {
    max-width: 960px;
    position: relative;
    display: block;
    margin: 0 auto;
    /* padding: 0 10px; */
}

h1 {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 48px;
    font-weight: 2500;
    letter-spacing: -1px;
    margin: 0.1em 0;
    color: white
}

.red {
    color: red;
}

.exhibit {
    border: 1px solid white;
    width: 300px;
    height: 300px;
    margin: 10px 10px 0 0;
    float: left;
    overflow: hidden;
    text-align:center;
    pointer-events: none;
}

.exhibit-media-container {
    margin-left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: 100%;
    pointer-events: none;
}

.exhibit-media {
    height:100%; 
    transform: scale(1);
    pointer-events:all;
}

